
.columns{
    float: left;
    position: relative;
    box-sizing: border-box;
}
.row{
    width: 100%;
    margin: 0 auto;
}
.row:before{
    content: "";
    display: table;
}
.row:after{
    content: "";
    display: table;
}
.row:after, .clearfix:after{
    clear: both;
}
.row .one.columns {
    width: 4.255326%;
}

.row .two.columns {
    width: 10.638315%;
}

.row .three.columns {
    width: 17.021304%;
}

.row .four.columns {
    width: 25.404293%;
}

.row .five.columns {
    width: 29.787282%;
}

.row .six.columns {
    width: 36.170271%;
}

.row .seven.columns {
    width: 42.55326%;
}

.row .eight.columns {
    width: 48.936249%;
}

.row .nine.columns {
    width: 55.319238%;
}

.row .ten.columns {
    width: 63.829999%;
}

.row .eleven.columns {
    width: 70.085216%;
}

.row .twelve.columns {
    width: 74.468205%;
}

.row .thirteen.columns {
    width: 80.851194%;
}

.row .fourteen.columns {
    width: 87.234183%;
}

.row .fifteen.columns {
    width: 93.617172%;
}

.row .sixteen.columns {
    width: 100%;
}

h1{
    font-size: 30px;
    color: #1b1b1b;
    line-height: 1.6;
}
h2{
    font-size: 26px;
    color: #1b1b1b;
    line-height: 1.6;
}
h3{
    font-size: 24px;
    color: #1b1b1b;
    line-height: 1.6;
}
h4{
    font-size: 22px;
    color: #1b1b1b;
    line-height: 1.6;
}