body{
    background-image: url(https://indodax.com/homev2-assets/img/p2pbg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
._container{
    background: white;
    margin: 0 20px;
    padding: 0px 20px;
    display: block;
    word-wrap: break-word
}
.center{
    text-align: center;
}
.search-form input{
    font-family: "Dosis";
    width: 100%;
}
a.disabled{
    color: gray;
    pointer-events: none;
}
/* Header stuff */
#header{
    padding: 20px 0;
    font-size: 42px;
    font-weight: 900;
    font-family: "Titillium Web", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.header-link{
    color: black;
}
.header-link:hover{
    color: black;
    text-decoration: none;
}
/* Nav stuff */
.my-nav-bg{
    background: linear-gradient(to top, slategrey, slategrey 40%, rgba(112, 128, 144, 0.514) 75%, rgba(0,0,0,0));
}
.my-nav{
    width: 100%;
}
.my-nav .nav-link, .my-nav .nav-button, .my-nav .nav-element{
    font-family: "Dosis";
    color: white !important;
    font-weight: bold;
}
.my-navbar-toggler{
    width: 100%;
    margin: 0 auto;
    border: deepskyblue 5px solid !important;
}
.my-navbar-toggler:focus{
    width: 100%;
    margin: 0 auto;
    border: deepskyblue 5px solid !important;
    outline: none;
}
.my-aside{
    font-family: "Dosis";
    border-bottom: deepskyblue 3px solid !important;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
    background: slategrey;
}
.my-nav-mobile{
    background: slategrey;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
.my-nav-mobile .nav-link, .my-nav-mobile .nav-button, .my-nav-mobile .nav-element{
    color: white !important;
    font-weight: bold;
}
.nav-element{
    margin: auto 0;
}
.my-nav *:not(:last-child){
    margin-top: 3px;
    border: 3px solid;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 3px rgba(0, 191, 255, 0.4) solid;
    border-radius: 8%;
}
.my-nav-mobile .nav-item > *{
    text-align: center;
}
.my-nav-mobile .nav-item:not(:last-child) > *{
    text-align: center;
    border: 3px solid;
    border-left: 0;
    border-right: 0;
    border-image: linear-gradient(to bottom, deepskyblue, rgba(0, 191, 255, 0.5)) 0 0 80 0;
    border-radius: 6%;
}
.span-one-element{
    display: flex;
}
.my-nav .span-one-element > *{
    border: none;
}
.my-nav .span-one-element:not(:last-child){
    border: 1px solid;
    border-left: 0;
    border-right: 0;
    border-image: linear-gradient(to bottom, darkgrey, #4c4c4c) 0 0 40 0;
}
.my-nav-mobile .span-one-element > *{
    border: none;
}
.my-nav-mobile .span-one-element:not(:last-child){
    border: 1px solid;
    border-left: 0;
    border-right: 0;
    border-image: linear-gradient(to bottom, darkgrey, #4c4c4c) 0 0 40 0;
}
.nav-right{
    margin: auto 0 auto auto;
    padding-right: 16px;
}
.nav-checkbox{
    margin: auto 0px auto 16px;
}
.checkbox-to-button{
    -webkit-appearance: none;
}
.checkbox-to-button:after{
    content: 'X';
}
.checkbox-to-button:checked:after{
    content: '\2713';
}
.checkbox-to-button.remember-me:before{
    content: 'Remember me: ';
}
label.nav-link{
    padding-left: 10px;
}
.footer{
    background-color: #070707;
    color: #fff;
}
.footer a{
    color: #fff;
    text-decoration: underline;
}
/* Post stuff */
.post{
    border-bottom: 1px solid #ccc;
}
.post-tags{
    font-family: "Dosis";
    font-weight: 400;
}
.post-btn{
    font-family: "Dosis";
    font-weight: 600;
    outline: none;
    -webkit-appearance: unset;
    color: black;
    background: lightgray;
    border: 2px gray groove;
    height: 30px;
    text-decoration: none;
    padding: 1px 6px 1px 6px;
    border-width: 2px;
    transition: background 1s;
}
.post-btn:hover{
    color: black;
    text-decoration: none;
}
.post-btn:focus{
    text-decoration: none;
    outline: none;
}
.post-remove{
    font-family: "Dosis";
    font-weight: 600;
    outline: none;
    -webkit-appearance: unset;
    transition: background 1s;
}
.post-remove:active{
    background: crimson;
}
.post-remove:focus{
    outline: none;
}
/* Base content design */
.leftcontent > *{
    border-bottom: 1px solid #ccc;
}
#sidebar{
    padding: 20px 0;
    margin-left: 0;
    border-left: 1px solid #ccc;
}
#sidebar .widget{
    margin-bottom: 20px;
}
#sidebar h2{
    font-family: "Dosis";
    font-weight: 600;
    text-align: center;
    margin: 4px 0 20px 0;
    font-size: 18px;
    color: white;
    border-bottom: 3px solid rgb(175, 184, 193);
    padding: 6px;
    background: linear-gradient(to top, slategrey, slategrey 40%, rgba(112, 128, 144, 0.514) 75%, rgba(0,0,0,0));
}
.widget{
    font-size: 12px;
}
.widget ul{
    padding: 0;
    margin: 0;
    outline: 0;
    list-style: none;
}
.widget ul li{
    padding: 10px 0;
    border-top: 1px solid #ccc;
}
.topprod{
    font-family: "Dosis";
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.p-link{
    color: inherit;
    text-decoration: none;
}
.p-link:hover{
    color: inherit;
    text-decoration: none;
}
/* Exceptions for when device is mobile */
@media only screen and (max-width: 768px){
    body{
        padding-top: 70px;
    }
    .nav-checkbox{
        margin: auto 0;
    }
}