<div class="widget">
    <div class="row topprod">
        <div class="nine columns"></div>
        <div class="columns">
            <div class="heading">
                <strong>
                    <a class="p-link" href="/?p=-LB4M6xtMe_VruelzByW" rel="nofollow">
                        What is hacking?
                    </a>
                </strong>
            </div>
            <div class="readmore">
                <a href="/?p=-LB4M6xtMe_VruelzByW" class="readreview p-link">
                    Read Review
                </a>
            </div>
        </div>
    </div>
</div>
<div class="widget search-form">
    <form action="/" method="get" id="searchForm" role="search" class="searchForm">
        <div>
            <input type="text" name="s" id="s" value>
            <input type="submit" value="Search" id="submit">
        </div>
    </form>
</div>
<div class="widget">
    <h2>
        Recent Posts
    </h2>
    <ul>
        <li ng-repeat="post in posts">
            <a class="p-link post-title" href="/?p={{post.___id___}}">
                {{post.title}}
            </a>
        </li>
    </ul>
</div>
<div class="widget">
    <h2>
        Recent Comments
    </h2>
    <ul>
        <!-- <li ng-repeat="post in posts">
            <a class="p-link post-title" href="/?p={{post.___id___}}">
                {{post.title}}
            </a>
        </li> -->
    </ul>
</div>