<div class="widget">
    <div class="row topprod">
        <div class="nine columns"></div>
        <div class="columns">
            <div class="heading">
                <strong>
                    <a class="p-link" href="/2017/10/27/what_is_hacking" rel="nofollow">
                        What is hacking?
                    </a>
                </strong>
            </div>
            <div class="readmore">
                <a href="/2017/10/27/what_is_hacking" class="readreview p-link">
                    Read Review
                </a>
            </div>
        </div>
    </div>
</div>
<div class="widget">
    <form action="/" method="get" id="searchForm" role="search" class="searchForm">
        <div>
            <label for="s">Search for:</label><br>
            <input type="text" name="s" id="s" value>
            <input type="submit" value="Search" id="submit">
        </div>
    </form>
</div>
<div ng-repeat="post in posts" class="widget">
    <a class="p-link post-title" href="/t?={{post.___id___}}">
        {{post.title}}
    </a>
    <button ng-if="admins[currentUser.uid] != undefined" ng-click="removePost(post.___id___)">Remove post</button>
</div>